<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="container-fluid">
      <div class="header row">
        <div class="col-sm-offset-4 col-sm-4 center">
            <a href="/" class="title">PdgnCo Blog</a>
        </div>
        <div class="col-sm-4">
          <div class="links pull-right wet-asphalt">
              <a href="/" title="PdgnBlog"><span class="fa fa-home"></span></a>
              <a href="" title="Blog on GitHub"><span class="fa fa-code-fork"></span></a>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS Feed"><span class="fa fa-rss"></span></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-3 col-sm-6 content">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>
